<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <script type="text/javascript" src="http://yandex.st/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jquery.pjax.js"></script>
    <script type="text/javascript" src="/static/jquery.role.js"></script>
    <script type="text/javascript">
	$(function() {
		$('@pjax').pjax('#main')
        // $('a[data-pjax]').pjax()
	});
    </script>
</head>
<body>
	<div class="error"></div>
    Страница открыта: {{ current_date }}
	<div id="main">
    	{% block content %}{% endblock %}
	</div>
    {% block footer %}
    <hr>
    <p>Thanks for visiting my site.</p>
    {% endblock %}
</body>
</html>