{% if posts %}
<p>Found {{ posts|length }} post{{ posts|pluralize }}.</p>
<ul>
{% for post in posts %}
<li>
	<a role="pjax" href="/posts/{{ post.id }}/">{{ post.title }}</a>
	{% with total=post.comment_set.count %}
		({{ total }} comment{{ total|pluralize }})
	{% endwith %}
</li>
{% endfor %}
</ul>
{% else %}
<p>No posts.</p>
{% endif %}