<a role="pjax" href="/posts/">Post list</a>
<h1>{{ post.title }}</h1>
<p>{{ post.content }}</p>

{% if comments_count %}
<p>Comments ({{ comments_count }}):</p>
<ul>
{% for comment in post.comment_set.all %}
    <li>{{ comment.author }}: {{ comment.text }} <a href="/comment/{{ comment.id }}">(delete)</a></li>
{% endfor %}
</ul>
{% endif %}

<h2>Add comment</h2>
<form method="POST">
    Author: <input type="text" name="author"><br/>
    Text: <input type="text" name="text">
    <input type="hidden" name="post" value="{{ post.id }}">
    <input type="submit" value="Send">
</form>